*{
	box-sizing:	border-box;
}

.container { 

	width: auto;
    height:auto;
  
	margin-top: 0px;
	display: flex;  flex-wrap: wrap;
    border-top-width: 0px;
   
}


body {
     
    background-repeat:initial;
    background-image: url(../img/logoWin.jpg);
    background-position: center;
    backdrop-filter: blur(20px);                  /*efeito na imagem de fundo*/
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

}

.header {
  
	order:1;
    display: flexbox;
	background-color: black;
	width: 25%;  

}

.header h1 {

    visibility: visible;

    display: flexbox;
    margin-top: 5%;
    font-family: Garamond;
    font-size: clamp(0.4em, 0.7em + 1vw, 2.2em);
    color: #9871de;
    text-align: center;

}

 .header img{

    height: auto;
    background-position: center;
    display: flex;
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    font-size: clamp(0.4em, 0.7em + 1vw, 2.2em);
    
}

.navbar{

    justify-content: right;
}

.navbar p2{

    float: left;
    margin-left: 25px;
   
}

.navbar h3{

    visibility: hidden;
    font-size: 18px;
     color: #9871de;
}

.navbar p3{

    float: left;
    margin-left: 25px;
}


.index {

    width:75%; 
    height: auto;
	order: 2;   
    background-color: black;
    padding: 3%;
    display: flexbox;
    font-size: clamp(0.4em, 0.7em + 1vw, 1.2em);
	
}

.index p1 {

    background: opaco;
    float: left;
    margin: 100px;
    padding: 10px 20px;
}

.index a {

    text-decoration: none;
}


.index p3 {

    font-size: 20px;
    font-family: Arial;
    position: relative;
    color:#9871de;
    text-decoration: none;  

    visibility: visible;
    -webkit-transform:perspective(1);
    transform:perspective(1);
    top:-6px;box-shadow:0 6px 3px opaco;
    
}

.index p3:before {

    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;

    left: 0;
    background-color:#9871de;

    visibility: visible;
    -webkit-transform:perspective(1);
    transform:perspective(1);
  
}

.index p2 {

    font-family: Arial;
    font-size: 20px;
    position: relative;
    color: #fff;
    text-decoration: none;  

}

.index p2:before {

    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;

    left: 0;
    background-color:white;
    visibility: hidden;
    -webkit-transform:perspective(1);
    transform:perspective(1);
    -webkit-transition: all 0 ease-in 0.3s;
    transition: all 0 ease-in 0.3s;

}

.index p2:hover {

    visibility: visible;
    -webkit-transform:perspective(1);
    transform:perspective(1);
    top:-6px;box-shadow:0 6px 3px opaco;
   
}


.index p2:hover:before {

    visibility: visible;
    -webkit-transform:perspective(1);
    transform:perspective(1);

}

.corpo {

    width: 100%;
	order: 3;
	margin-top: 30px;
    margin-bottom: 20px;

	background-color: #fff;
    background-position: center;
    margin-left: 10%;
    margin-right: 10%;
	opacity: 0.9;
    padding: 5%;
    display: flexbox;
    border-radius: 1%;
   
}

.corpo img{

    width: 100%;

}

.corpo h1{

    font-family: Arial;
    font-size: 25px;
    
}

.corpo p{

    font-family: Arial;
    font-size: 20px;
}

.footer {

    order: 5;
	padding: 15px;
	margin-top: 10px;
	width: 100%;  
    background-color: black;
	
}

.footer img{

    width: 5%;
    background-position: center;
    margin-left: 47.5%;
    margin-right: 47.5%;
    margin-bottom: 1%;
    
}

.footer a{
  
    text-decoration: none;
 
 }

 .footer h4{
    
    margin-top: 1%;
    font-size: clamp(0.4em, 0.7em + 1vw, 1.2em);
    font-family: Arial;
    color: white;
    text-align: center;
}
 
.icons{

    width: 30%;
    height: 20;
    flex: 1;
    background-color: black;
    flex-direction: row;
    float:left;
    justify-content: space-between;

}

.icons img{

    width: auto; 
    flex: 1;
    justify-content:center;
    flex-direction: row;
    display: inline-block;

}

.icons img:hover{
 
    width: auto; 
    flex: 1;
    justify-content:center;
    flex-direction: row;
    display: inline-block;
    opacity: 0.4;

 }
 
.social {
 
    width: 15%;
    height: 20;
    flex: 1;
    background-color: black;
    flex-direction: row;
    justify-content:center;

    justify-content: space-between;
    justify-content: space-between;
    margin-left: 42.5%;
    margin-right: 42.5%;
    display: inline-block;

}

@media screen and (max-width: 870px) {

    body {

      margin: 0;

    }

    .social {
 
        width: 40%;
        height: 20;
        flex: 1;
        background-color: black;
        flex-direction: row;
        justify-content:center;
    
        justify-content: space-between;
        justify-content: space-between;
        margin-left: 30%;
        margin-right: 30%;
        display: inline-block;
     
    }

    .header {
  
        order:1;
        display: flexbox;
        
        background-color: black;
        width: 100%;  
        padding: 5%;
    
    }

    .index {

        width:100%; 
        height: auto;
        order: 2;   
        opacity: 10;
       
        display: flexbox;
        font-size: clamp(0.4em, 0.7em + 1vw, 1.2em);
    
    }

    .index p1 {

        background: opaco;
        float: left;
        margin: 20px;
        padding: 10px 20px;
    
    }
    
    .index a {
    
        text-decoration: none;
    }
    
    .index p1 {
    
        background: opaco;
        float: left;
        margin: 100px;
        padding: 10px 20px;
        
    }
    
    .index a {
    
        text-decoration: none;
    }
    
    
    .index p3 {
    
        font-size: 20px;
        font-family: Arial;
        position: relative;
        color:#9871de;
        text-decoration: none;  
    
        visibility: visible;
        -webkit-transform:perspective(1);
        transform:perspective(1);
        top:0px;box-shadow:0 0px 0px opaco;
    
    }
    
    .index p3:before {
    
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -10px;
    
        left: 0;
        background-color:#9871de;
    
        visibility: hidden;
        -webkit-transform:perspective(1);
        transform:perspective(1);
      
    }

    .index p2 {
    
        font-family: Arial;
        font-size: 20px;
        position: relative;
        color: #fff;
        text-decoration: none;  
    
    }
    
    .index p2:before {
    
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -10px;
    
        left: 0;
        background-color:white;
        visibility: hidden;
        -webkit-transform:perspective(1);
        transform:perspective(1);
        -webkit-transition: all 0 ease-in 0.3s;
        transition: all 0 ease-in 0.3s;
    
    }
    
    .index p2:hover {
    
        visibility: visible;
        -webkit-transform:perspective(1);
        transform:perspective(1);
        top:0px;box-shadow:0 0px 0px opaco;
        background-color:#9871de;
       
    }
    
    .index p2:hover:before {
    
        visibility: hidden;
        -webkit-transform:perspective(1);
        transform:perspective(1);
    
    }

    .navbar h3{

        visibility: visible;
    }

    .header h1{
        
        visibility: hidden;
    }

}

