body {

    backdrop-filter: brightness(155%);
    backdrop-filter: blur(5px);

    background-image: url("logo.jpg");
    background-repeat: no-repeat;

    background-position: center;
    background-repeat:inherit;
}

h1 {

    text-align: center;
}

h2 {

    text-align: right;
    margin-right: 7px;
}

#box {

    width: 1110px;
    height: 1150px;
    background-position: center;
    background: white;
    margin: auto;
}

#boxx {

    width: 1090px;
    height: 450px;
    background-image: url("tw.png");
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
}

p1 {

    font-family: Verdana;
    font-size: 15px;
}
